@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151515;

  /* Brand Colors */
  --primary-beige: #DEC6B6;
  --accent-brown: #7A6F67;
  --text-dark: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-beige: var(--primary-beige);
  --color-accent-brown: var(--accent-brown);
  --color-text-dark: var(--text-dark);

  --font-dancing: var(--font-dancing);
  --font-quicksand: var(--font-quicksand);

  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}